<%= turbo_stream_from(task) %>

<div class="card" id="<%= dom_id(task) %>">
  <div class="card-body">
    <div class="card-header">
      <%= task.title %>
    </div>
    <div class="card-body">
      <div class="card-text">

        <% #TODO: send this part to partial if possible %>

        <%= button_to(t('tasks.remove_btn'), project_task_path(task.project_id, task),
        method: :delete, class: 'btn btn-secondary align-middle float-end mt-3',
        data: { turbo_method: :delete, turbo_confirm: t('tasks.remove_btn_confirm') }) %>
      </div>
    </div>
  </div>
</div>
