<div class="flash-messages">
  <% flash.each do |type, message| %>
    <div class="toast-container position-fixed bottom-0 end-0 p-3" data-controller="flash">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header  bg-success-subtle">
          <strong class="me-auto">TimeTracker</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <%= message %>
        </div>
      </div>
    </div>
  <% end %>
</div>